/* * {
    border: 1pt solid red;
} */

body {
    /* display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15% 15% 70%; */
    /* border: 2pt solid red;
    grid-template-areas: 
        "header header2"
        "header3 header4"
        "contacts article"
        "contacts article"
        "contacts article"; */
}
main {
    display: grid;
    /*grid-template-columns: 25% 75%;
    grid-template-rows: 15% 15% 70%;
    grid-column-gap: 3pt;
    grid-row-gap: 3pt; */
    background-color: white;
    grid-template-areas: 
        "header header2"
        "header3 header4"
        "contacts article1"
        "contacts article2"
        "contacts article3";

}

header {
    /* display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%; */
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;     */
    height: 325pt;
    justify-content: space-evenly;
    row-gap: 3pt;
    column-gap: 3pt;
    grid-area: header;
}

figure {
    /* grid-column: 1/2;
    grid-row: 1/2; */
    grid-area: header;
    width: 197px;
    height: 310px;
    border-radius: 30px;
}

#headshot {
    /* grid-row: 1/2;
    grid-column: 1/2; */
    height: 200pt;
    width: 140pt;
    margin-top: 20px;
    margin-left: 5px;
    align-content: center;
    border-radius: 30px;
}

.name {
    /* grid-column: 2/3;
    grid-row: 1/2; */
    display: flex;
    font-size: 50pt;
    text-align: center;
    height: 220px;
    align-self: center;
    justify-self: center;
    grid-area: header2;
    margin: 2px 2px;
    /* border: solid 2pt purple; */
}

.job-title {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */
    font-size: 36pt;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    margin-left: 10px;
    grid-area: header3;
}

.intro {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    display: flex;
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    height: 100pt;
    width: 800px;
    border-radius: 30px;
    justify-self: left;
    margin: 10pt;
    padding-top: 2px;
    padding-left: 5px;
    grid-area: header4;
}

.contact {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 10pt;
    padding: 10px;
    margin: 10px;
    height: 600pt;
    width: 225pt;
    border: 3pt solid black;
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.experience {
    grid-area: article1;
    text-align: left;
    font-size: 14pt;
    border-radius: 30px;
    padding-top: 2px;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.prof-history {
    grid-area: article2;
    text-align: left;

}

.education {
    grid-area: article3;
}

h2 {
    font-size: xx-large;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    text-align: center;
}
.contact-h2 {
    /* font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; */
    color: white;
}

.line {
    border: 1pt solid black;
    padding: 0;
    background-color: white;
    width: 130pt;
    margin-left: auto;
    margin-right: auto;
}

.con-img {
    height: 50px;
    width: 50px;
    margin: 2px auto;
    margin-top: 20px;
    align-self: center;
}

.fig-img {
    height: 50px;
    width: 50px;
    margin: 2px;
    align-items: center;
    justify-items: center;
}

figure {
    display: flex;
    height: 50px;
    width: 100px;
    position: relative;
    left: 50px;

}